<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to pages_home_path, class: "navbar-wagon-brand" do %>
    <h3 id="logo-pedalo">Pedalo</h3>
  <% end %>
  <% if user_signed_in? %>
     <div class="delivery-search">
      <%= form_tag deliveries_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Rechercher une commande...",
          value: ""
        %>
       <% end %>
      </div>
    <% else %>
    <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "Nouvelle expédition", deliveries_bulk_new_path, class: "btn-model" %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
          <div class="dropdown">
            <img src="<%= image_path "usericon.svg" %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" %>
               <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li><%= link_to "Mon compte", root_path %></li>
                  <li><%= link_to "Dashboard", root_path %></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              </ul>
          </div>
        </div>
      <% else %>
      <div id="unique-link">
        <%= link_to "Sign in", new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>

