<li><%= delivery.recipient_name %></li>
<li><%= delivery.address %></li>
<li><%= delivery.complete_after %></li>
<li><%= delivery.complete_before %></li>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal2-<%= delivery.id %>">
    Mettre à jour
</button>
