<ul class="progressbar">
  <li class="active"><p>Enregistré</p><%= delivery.created_at.strftime("%Hh%M - %m/%d/%Y") %></li>
  <li class="<%= "active" if delivery.status? == "Enlevé" || delivery.status? == "Livré" %>"><p>Enlevé</p><%= delivery.picked_up_at.strftime("%Hh%M - %d/%m/%Y") if (delivery.status? == "Enlevé") %></li>
  <li class="<%= "active" if delivery.status? == "Livré" %>"><p>Livré</p><%= delivery.delivered_at.strftime("%Hh%M - %d/%m/%Y") if (delivery.status? == "Livré") %></li>
</ul>

