<ul class="progressbar">
  <li class="active"><p class="progress-bar-status">Enregistré</p><p class="progress-bar-date"><%= delivery.created_at.strftime("%Hh%M - %m/%d/%Y") %></p></li>
  <li class="<%= "active" if delivery.status? == "Enlevé" || delivery.status? == "Livré" %>"><p class="progress-bar-status">Enlevé</p><p class="progress-bar-date"><%= delivery.picked_up_at.strftime("%Hh%M - %d/%m/%Y") if (delivery.status? == "Enlevé") %></p></li>
  <li class="<%= "active" if delivery.status? == "Livré" %>"><p class="progress-bar-status">Livré</p><p class="progress-bar-date"><%= delivery.delivered_at.strftime("%Hh%M - %d/%m/%Y") if (delivery.status? == "Livré") %></p></li>
</ul>

