<div class="container-content">
  <div class="headers">
    <div class="head">NOM</div>
    <div class="head">DATE DE LIVRAISON</div>
    <div class="head">CRÉNEAU DE LIVRAISON</div>
    <div class="head">STATUT</div>
  </div>
  <div class="delivery-container">
    <% @deliveries.each do |delivery| %>
    <% debut = delivery.complete_after.to_formatted_s(:short).split(" ").last %>
    <% fin = delivery.complete_before.to_formatted_s(:short).split(" ").last %>
      <!-- <div class="delivery-rows"> -->
        <%= link_to delivery_path(delivery), class: "delivery-rows" do %>
          <div class="delivery"><%= delivery.recipient_name %></div>
          <div class="delivery"><%= delivery.complete_after.strftime("%d/%m/%Y") %></div>
          <div class="delivery"><%= debut %> - <%= fin %></div>
          <div class="delivery delivery-<%= status_class(delivery) %>">
              <%= delivery.status? %>

          </div>
        <% end %>
      <!-- </div> -->
    <% end %>
  </div>
</div>
