  <!-- Datas -->
    <% total = @deliveries.today.count %>
    <% delivered = @deliveries.today.delivered.count %>
    <% not_delivered =  @deliveries.today.not_delivered.count %>
    <% in_process = @deliveries.today.in_process.count %>
    <% delayed = @deliveries.today.late.count %>
    <% enregistred = total - delayed - delivered - in_process%>
  <!-- --- -->
<div class="main-card-container">
    <div class="orders">Bonjour, <%= current_user.company.name %>. </div>
      <div class="card-container">
        <div class="col-xs-12 col-md-3">
          <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            <div class="dashboard-card">
              <div class="dashboard-card-description">
               <p> Aujourd'hui,</p> <h3><%= total %></h3> <p>livraisons prévues.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-md-3">
          <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1250">
            <div class="dashboard-card">
              <div class="dashboard-card-description">
               <p> Aujourd'hui,</p> <h3><%= delivered %></h3> <p>livraisons effectuées.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-md-3">
          <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <div class="dashboard-card">
              <div class="dashboard-card-description">
                <% if not_delivered == 0 %>
                  <p> Aujourd'hui,</p> <h3><%= not_delivered %></h3> <p>livraisons à venir. 🎉</p>
                <% else %>
                  <p> Aujourd'hui,</p> <h3><%= not_delivered %></h3> <p>livraisons à venir, dont <strong><%= in_process %></strong> en cours.</p>
                <% end %>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-md-3">
          <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1750">
            <div class="dashboard-card" id="gauge">
              <div id="chart-legend">
                <span>Livré <i class="fa fa-square" aria-hidden="true" style="color: rgb(8, 103, 136)"></i></span>
                <span>Retard <i class="fa fa-square" aria-hidden="true" style="color: rgb(242, 130, 130)"></i></span>
                <span>En Cours <i class="fa fa-square" aria-hidden="true" style="color: rgb(31, 187, 198)"></i></span>
                <span>Enregistré <i class="fa fa-square" aria-hidden="true" style="color: rgb(225, 229, 224)"></i></span>
              </div>
              <canvas id="myChart" data-delivered="<%= delivered %>" data-delayed="<%= delayed %>" data-enregistred="<%= enregistred %>" data-in_process="<%= in_process %>"></canvas>
            </div>
          </div>

        </div>
      </div>
      <div class="card-title-container-second">Vos livraisons à venir :</div>
        <div class="upcoming-container">
          <%= render "upcomingtable", deliveries: @deliveries %>
        </div>
      </div>
  </div>
</div>




