<div class="main-container">
  <div class="table-container">
  <div class="container-search">
    <div class="orders"> Commandes </div>
    <div class="delivery-search">
      <%= form_tag deliveries_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Rechercher une commande..."
        %>
      <% end %>
    </div>
  </div>
  <div class="tabs">
    <%= link_to "Passées", past_deliveries_path, class: "tab" %>
    <%= link_to "Aujourd'hui", today_deliveries_path, class: "tab" %>
    <%= link_to "A venir", upcoming_deliveries_path, class: "tab" %>
    <%= link_to "Tout voir", deliveries_path, class: "tab active" %>
  </div>
  <%= render "table", deliveries: @deliveries %>
  </div>
  <div class="dash-container">
    <% today_7 = DateTime.now.midnight - 7.day %>
    <% tomorrow_7 = DateTime.now.midnight - 6.day %>
    <p>Nb livré : <%= @deliveries.where("status ILIKE ?", "Enregistré").count %>/<%= @deliveries.count %> </p>
    <p>Nb retard : <%= @deliveries.where("complete_before < ?", DateTime.now).count %>/<%= @deliveries.count %></p>
    <p>Comparatif S-1 : <%= @deliveries.count %> / <%= today = DateTime.yesterday + 1.day
    tomorrow = DateTime.tomorrow
    @deliveries = @user_deliveries.where('complete_after > ? AND complete_after < ?', today_7, tomorrow_7).count %></p>
  </div>
</div>


