<div class="container">
<div class="tabs">
  <%= link_to "past", past_deliveries_path, class: "tab" %>

  <%= link_to "today", deliveries_path, class: "tab active" %>

  <%= link_to "upcoming", upcoming_deliveries_path, class: "tab" %>

<ul>
<% @deliveries.each do |delivery| %>
  <li>ID : <%= delivery.id %></li>
  <li><%= delivery.complete_after %></li>
  <li><%= delivery.complete_before %></li>
  <li>Status : <%= delivery.status? %></li>
<% end %>
</ul>

</div>
