<div class="main-container">
  <div class="table-container">
    <div class="container-search">
      <div class="orders">Votre tableau de bord</div>
        <div class="delivery-search">
          <%= form_tag root_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher une commande...",
              value: ""
            %>
          <% end %>
        </div>
      </div>
          <div class="tabs">
            <%= link_to "Tout voir",
                root_path, class: delivery_tab_classes(@period, "all") %>
            <%= link_to "Passées",
                root_path({period: "past"}), class: delivery_tab_classes(@period, "past") %>
            <%= link_to "Aujourd'hui",
                root_path({period: "today"}), class: delivery_tab_classes(@period, "today" ) %>
            <%= link_to "A venir",
                root_path({period: "upcoming"}), class: delivery_tab_classes(@period, "upcoming" ) %>
          </div>
      <%= render "table", deliveries: @deliveries %>
  </div>
</div>




