<div class="main-container">
  <div class="table-container">
  <div class="container-search">
    <div class="orders">Commandes</div>
    <div class="delivery-search">
      <%= form_tag deliveries_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Rechercher une commande...",
          value: ""
        %>
      <% end %>
    </div>
  </div>
  <div class="tabs">
    <%= link_to "Tout voir",
        deliveries_path, class: delivery_tab_classes(@period, "all") %>
    <%= link_to "Passées",
        deliveries_path({period: "past"}), class: delivery_tab_classes(@period, "past") %>
    <%= link_to "Aujourd'hui",
        deliveries_path({period: "today"}), class: delivery_tab_classes(@period, "today" ) %>
    <%= link_to "A venir",
        deliveries_path({period: "upcoming"}), class: delivery_tab_classes(@period, "upcoming" ) %>
  </div>
  <%= render "table", deliveries: @deliveries %>
  </div>
  <div class="dash-container">
    <div class="top-dashboard">
    <% today_7 = DateTime.now.midnight - 7.day %>
    <% tomorrow_7 = DateTime.now.midnight - 6.day %>
    <% nb_livred = @all_deliveries.delivered.count%>
    <% nb_delayed = @all_deliveries.where("complete_before < ?", DateTime.now).count  %>
    <% rest = @all_deliveries.count - (nb_delayed + nb_livred) %>
    <div class="topleft-dashboard">
    <canvas id="myChart" width="100" height="100" data-delayed="<%= nb_delayed %>" data-livred="<%= nb_livred %>" data-test = "<%=  rest%>"></canvas>
    </div>
    <div class="dash-infos">
      Hello je suis en train de coder
    </div>
    </div>
    <div class="bottom-dashboard">
    <canvas id="myChart2" width="400" height="400"></canvas>

    </div>
    </div>
  </div>
</div>


