<div class="container">
  <div clas="row">
    <div class="col-md-6 col-lg-12">
      <%= simple_form_for @delivery do |d| %>
        <%= d.input :recipient_name %>
        <%= d.input :address %>
        <%= d.input :recipient_phone %>
        <%= d.input :complete_before %>
        <%= d.input :complete_after %>
        <%= d.submit "create delivery", class: "btn-model" %>
      <% end %>
    </div>
  </div>
</div>



