<h1> Try it </h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= simple_form_for @delivery do |d| %>
      <%= d.input :address %>
      <%= d.input :recipient_phone %>
      <%= d.input :recipient_name %>
      <%= d.input :complete_before %>
      <%= d.input :complete_after %>
  <%= d.submit "create delivery", class: "btn btn-primary" %>
<% end %>
    </div>
  </div>
</div>



