<div class="container">
<div class="tabs">
  <%= link_to "Passées", past_deliveries_path, class: "tab active" %>

  <%= link_to "Aujourd'hui", today_deliveries_path, class: "tab" %>

  <%= link_to "A venir", upcoming_deliveries_path, class: "tab" %>

  <%= link_to "Tout voir", deliveries_path, class: "tab" %>
</div>

<ul>
<% @deliveries.each do |delivery| %>
  <li>ID : <%= delivery.id %></li>
  <li><%= delivery.complete_after %></li>
  <li><%= delivery.complete_before %></li>
  <li>Status : <%= delivery.status? %></li>
<% end %>
</ul>
