<div class="container-show">
  <div class="big-title"><h1>Votre commande n°<%= @delivery.id %></h1></div>
  <div class="all-cards">
    <div class="card-left">
      <div class="infos-card">
        <div class="style">
          <div class="status">
            <p>Status</p>
            <p><strong><%= @delivery.status? %></strong></p>
          </div>
          <p>Edit</p>
        </div>

        <h3>Informations client</h3>
        <div class="style">
          <div>
            <p><%= @delivery.recipient_name %></p>
            <p><%= @delivery.address %></p>
          </div>
          <p><strong>N°</strong> : <%= @delivery.recipient_phone%></p>
        </div>

        <div class="style">
          <div>
            <h3>Date de livraison</h3>
            <p><%= @delivery.complete_after.strftime("%m/%d/%Y") %></p>
          </div>
          <div>
            <h3>Créneau de livraison</h3>
            <p><%= @delivery.complete_after.to_formatted_s(:short).split(" ").last %> - <%= @delivery.complete_before.to_formatted_s(:short).split(" ").last %></p>
          </div>
        </div>
        <br>
        <p><strong>Informations complémentaires (digicode, étage, etc...)</strong></p>


        <h3>Commande</h3>
        <div class="titles">
          <div class="title"><p>Produits</p></div>
          <div class="title"><p>Quantité</p></div>
        </div>
        <ul>
          <% @delivery.delivery_packages.each do |delivery_package| %>
            <li class="product-list">
              <div class="product"><p><%= delivery_package.package_type.name %></p></div>
                <%= link_to "#{delivery_package.amount}", deliveries_path, class: "product" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="cards-right">
      <div class="map-card">
        <div class="map-card2">
          <iframe id="inlineFrameExample"
              title="Inline Frame Example"
              width=100%
              height=100%
              src="https://onf.lt/f7c8d73983">
          </iframe>
        </div>
      </div>

      <div class="progress-card">
        <div class="progress-bar-content">
          <p><strong>Livraison de la commande</strong></p>
          <div class="progress_bar">
            <%= render 'progress_bar', delivery: @delivery %>
          </div>
        </div>
      </div>

      <div class="driver-card">
        <div class="infos-driver">
          <h3>Votre livreur</h3>
          <p><%= @delivery.name %><br>N°<%= @delivery.phone %></p>
        </div>
<!--         <div class="photo-driver">
          <%#= image_tag @delivery.photo, alt: "driver photo" %>
        </div> -->
      </div>
    </div>
  </div>
</div>
