<!-- app/views/offers/show.html.erb -->
<div class="show-container">
  <div class="big-title">
    <h1><a href="javascript:history.back(-1)"><i class="fas fa-arrow-left"></i></a>&ensp;&ensp;Votre commande n°<%= @delivery.id %></h1>
  </div>
  <div class="all-cards">
    <div class="card-left">
      <div class="infos-card">
        <div class="style">
          <p>Status</p>
          <p><strong><%= @delivery.status? %></strong></p>
        </div>
        <h3>Informations client</h3>
        <div class="style">
          <p><%= @delivery.recipient_name %></p>
          <p><strong>N°</strong> : <%= @delivery.recipient_phone%></p>
        </div>
          <p><%= @delivery.address %></p>

        <div class="style">
          <h3>Date de livraison</h3>
          <h3>Créneau de livraison</h3>
        </div>
        <div class="style">
          <p><%= @delivery.complete_after.strftime("%d/%m/%Y") %></p>
          <p><%= @delivery.complete_after.to_formatted_s(:short).split(" ").last %> - <%= @delivery.complete_before.to_formatted_s(:short).split(" ").last %></p>
        </div>
        <br>
        <p>Informations complémentaires (digicode, étage, etc...)</p>

        <h3>Commande</h3>
          <%= render "table_show", delivery_packages: @delivery.delivery_packages %>

      </div>
    </div>
    <div class="cards-right">
      <div class="map-card">
        <div class="map-card2">
          <iframe id="inlineFrameExample"
              title="Inline Frame Example"
              width=100%
              height=100%
              src=<%= @delivery.tracking_url_dropoff %>>
          </iframe>
        </div>
      </div>

      <div class="progress-card">
        <h3>Livraison de la commande</h3>
        <%= render 'progress_bar', delivery: @delivery %>
      </div>

      <div class="driver-card">
        <div class="driver-content">
          <div class="infos-driver">
          <h3>Votre livreur</h3>
            <p><%= @delivery.driver_name %></p>
            <p>N°<%= @delivery.driver_phone %></p>
          </div>
          <div class="photo-driver">
            <img src="<%= @delivery.driver_photo %>" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
