<div class="container">
  <div class="container-search">
    <div class="orders"> Commandes </div>
    <div class="delivery-search">
      <%= form_tag deliveries_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Rechercher une commande..."
        %>
      <% end %>
    </div>
  </div>
  <div class="tabs">
    <%= link_to "Passées", past_deliveries_path, class: "tab" %>
    <%= link_to "Aujourd'hui", today_deliveries_path, class: "tab" %>
    <%= link_to "A venir", upcoming_deliveries_path, class: "tab active" %>
    <%= link_to "Tout voir", deliveries_path, class: "tab" %>
  </div>
  <%= render "table", deliveries: @deliveries %>
</div>
